<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.assets = {
    logo: "<%= asset_path('Yump_logo.png') %>",
    home_img: "<%= asset_path('pasta_time_freeze.jpg')%>",
    salad: "<%= asset_path('salad.jpg') %>",
    soup: "<%= asset_path('soup.jpg') %>",
    steak: "<%= asset_path('steak.jpg') %>",
    oysters: "<%= asset_path('oysters.jpg') %>",
    static_map: "<%= asset_path('staticmap.png') %>"
  }

</script>

<main id="root"></main>
